
  
  body{
      background: linear-gradient(-45deg, rgb(238, 119, 82, 0.5), rgb(231, 60, 126, 0.5), rgb(35, 166, 213, 0.5),rgb(35, 213, 171, 0.5));
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      padding-bottom:0;
      
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }
  .top{
    /* height: 100vh; */
  }
  
  /* gradient created by Alison Quaglia at 
  https://www.sliderrevolution.com/resources/css-animated-background/ */
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
.nav{
    padding-top: 1.8rem;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid rgba(64, 64, 64, 0.2); */
}
.nav-right {
    display: flex;
    padding-right: 5rem;
    
}
.container-fluid{
    padding-top: 2rem;
}
.navbar-brand {
    font-family:  'Montserrat', sans-serif;
    font-size: 36px;
    padding-left: 5rem;
    padding-top: 2rem;
    font-weight: 400;
}
.nav-item {
    font-family:  'Montserrat', sans-serif;
    padding-right: 3rem;
    font-weight: 200;
}
.grid {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;

}
.left-col{
    display: flex;
    width: 45vw;
    justify-content: flex-end;
    align-items: center;

}
.pic-box{
    padding-right:0rem;
}
.right-col{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.textbox {
    width: 37vw;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5rem;
    font-weight: 200;
    padding-left: 4rem;
}
.arrow-div {
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.middle{
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    
    transition: background 2s linear;
}

.middle:hover{
    background: white;
}
.grid-small{

    padding-top: 1rem;

}
.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.small-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border: 1px solid rgba(64, 64, 64);
    border-radius: 15px;
    background-color: rgba(234, 232, 226 );
    outline:1px black;
}
.koala{
    
    width: 90%
    
}
.caption{
    border-top: 1px solid rgba(64, 64, 64);
    padding-top: 1rem;;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}
.small-right{
    width: 20rem;
    height: 20rem;
    outline: 1px black
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    border-radius: 15px;
    background-color: rgba(234, 232, 226 );
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 15px;
    border: 1px solid rgba(64, 64, 64);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgba(234, 232, 226 );
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: black;
    background-color: rgba(234, 232, 226 );
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .back-content{
    padding: 2rem;;
  }